<!DOCTYPE html>
<html lang="ja">
<head>
  <title>WebCampBackendNew</title>
  <meta charset="UTF-8"/>

</head>

<body>
<div class="detail">
<p><strong>Title: </strong><%=@book.title %></p>
<p><strong>Body: </strong><%=@book.body %></p></p>
</div>



    <table class="show-table">
        <tbody>
            <tr>
                <td class="show-table-td1"><%= link_to "Edit", edit_book_path(@book.id) %></td>
                <td class="show-table-td2"><a href="/books">Back</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>